/* Editing Input */
.task-list li input {
  flex: 1;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.task-actions {
  display: flex;
  gap: 5px;
}

/* Edit Button */
.task-list .edit {
  background: orange;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.task-list .edit:hover {
  background: darkorange;
}

/* Save Button */
.task-list .save {
  background: green;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.task-list .save:hover {
  background: darkgreen;
}
