.priority {
  margin-left: 10px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
}

.priority.high {
  color: white;
  background: red;
}

.priority.medium {
  color: white;
  background: orange;
}

.priority.low {
  color: white;
  background: green;
}
